In [1]:
import pandas as pd
import requests
from lxml import html
import wget
from zipfile import ZipFile
import fnmatch
import os
from time import sleep

In [2]:
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_colwidth', None)

In [3]:
path = os.getcwd()
path

'/Users/rubencito/CAS_datascience/ADS_CAS_Bern_2020/Projects/M3'

## 1. Importing the Worldbank data catalog
We see that the catalog contain > 1500 series!!!

In [4]:
full_db_catalog = pd.read_excel(io=path + "/" + "data_catalogs" + "/" + "WB_fullseries_catalog.xls",
             sheet_name = 1)

full_db_catalog.head()

,Series Code,Series Name,Topic,SubTopic1,SubTopic2,SubTopic3
0,AG.AGR.TRAC.NO,"Agricultural machinery, tractors",Environment,Agricultural production,NaN,NaN
1,AG.CON.FERT.PT.ZS,Fertilizer consumption (% of fertilizer production),Environment,Agricultural production,NaN,NaN
2,AG.CON.FERT.ZS,Fertilizer consumption (kilograms per hectare of arable land),Environment,Agricultural production,NaN,NaN
3,AG.LND.AGRI.K2,Agricultural land (sq. km),Environment,Land use,NaN,NaN
4,AG.LND.AGRI.ZS,Agricultural land (% of land area),Environment,Land use,NaN,NaN

## 2. Create a Helper Function to find easily a given catalog by code or by name

In [5]:
def find_your_serie(in_your_serie, full_wb_catalog = full_db_catalog,  by_code = False, by_name = False):
    if by_code:
        
        return(full_db_catalog[full_db_catalog['Series Code'].str.contains(in_your_serie, case = False)])
    
    if by_name:
        
        return(full_db_catalog[full_db_catalog['Series Name'].str.contains(in_your_serie, case = False)])
    else:
        
        return(full_db_catalog)

## 3. Extract socioeconomical data from the worlbank

### Create a Function that make a call to the API and return a data frame

In [69]:
#####################

# This function make a specific dataseries request to the worlbank API and return a pandas df as output. 
# It takes 3  arguments:
# 1. Indicator Code "indic_code", 
# 2. year range "year_s", 
# 3. Path destination "destination"

#####################


def API_call_to_df(indic_code, 
                   year_s = '2010:2020', 
                   destination = path + "/" + "datasets" + "/" + "WB_datasets", 
                   **kwargs):
    WB_url_seed = 'http://api.worldbank.org/v2/country/all/indicator/' + indic_code
    my_params = {'date' : year_s,
                'incomelevel' :'',
                'downloadformat' : 'csv',
                'per_page' : '304'}
    
    def number_of_cols(year_s): # Define function to asses index of columns to retrieve
        my_years_int = year_s.split(":")
        my_colums_indx = [*range(0, list(map(int, my_years_int))[1] - list(map(int, my_years_int))[0] + 5)]
        return(my_colums_indx)
    
    for file in os.listdir(destination):
        if fnmatch.fnmatch(file, "API_" + indic_code.upper() + "*"):
            os.remove(destination + "/" + file)
            response = requests.get(WB_url_seed, params = my_params)
            my_zip_file = wget.download(response.url, out= destination)
            print("file exists and will be replaced")
            break
            
    else:
        response = requests.get(WB_url_seed, params = my_params)
        my_zip_file = wget.download(response.url, out= destination)
        
    with ZipFile(my_zip_file, 'r') as zipObj:
            for content in zipObj.namelist():
                if fnmatch.fnmatch(content, 'API_*'):
                    #print(content) #wihtin the content of the zip file find and extract the csv file that contain the data
                    my_filename = content
                    zipObj.extract(content, path = destination)
                    my_df = pd.read_csv(destination + '/' + my_filename, 
                                                header = 2,
                                                usecols = number_of_cols(year_s))
                    os.remove(destination + "/" + my_filename)
    
    my_columns = list(my_df.columns)                
    my_df = my_df.melt(#change the df to long format
        id_vars=my_columns[:2],
        value_vars=my_columns[4:],
        var_name='year', 
        value_name=my_df['Indicator Name'][1])
    
    my_df['year']=my_df['year'].astype("int64")
    
    my_df.rename(columns={my_columns[0]: 'country_name', my_columns[1]: 'country_code'}, inplace=True)#rename columns
    my_new_columns = list(my_df.columns)
    
    my_df = my_df[cols[1:]]
    
    my_clean_df = clean_and_save_my_df(my_df, **kwargs)
    

                    
    return(my_clean_df)

### Filtering the series that contain only variables expressed as %
We obtain only 755 variables which is a lot less!

In [12]:
raw_percentage_db_catalog = full_db_catalog[full_db_catalog['Series Name'].str.contains("%")]
raw_percentage_db_catalog.head()

,Series Code,Series Name,Topic,SubTopic1,SubTopic2,SubTopic3
1,AG.CON.FERT.PT.ZS,Fertilizer consumption (% of fertilizer production),Environment,Agricultural production,NaN,NaN
4,AG.LND.AGRI.ZS,Agricultural land (% of land area),Environment,Land use,NaN,NaN
7,AG.LND.ARBL.ZS,Arable land (% of land area),Environment,Land use,NaN,NaN
9,AG.LND.CROP.ZS,Permanent cropland (% of land area),Environment,Land use,NaN,NaN
11,AG.LND.EL5M.RU.ZS,Rural land area where elevation is below 5 meters (% of total land area),Environment,Land use,NaN,NaN

### Display the number of dataseries per topic

In [13]:
raw_percentage_db_catalog.sort_values(by = "Topic").groupby(['Topic'], as_index = False).size()#[raw_percentage_db_catalog[]]

Topic
Economic Policy & Debt       105
Education                    124
Environment                   68
Financial Sector              35
Gender                         9
Health                       131
Infrastructure                 6
Poverty                       20
Private Sector & Trade        91
Public Sector                 27
Social Protection & Labor    139
dtype: int64

#### We Observe that the topics that contain the most number of series are:

1. **Social Protection & Labor**
2. **Health**
3. **Education**
4. **Economic Policy & Debt**

## 4. Explore the various topics to asess quality of the data

This was experimental, need to revisited again...

In [254]:
raw_percentage_db_catalog[raw_percentage_db_catalog['Topic'] == "Social Protection & Labor"].head(10)

,Series Code,Series Name,Topic,SubTopic1,SubTopic2,SubTopic3
869,per_allsp.adq_pop_tot,Adequacy of social protection and labor programs (% of total welfare of beneficiary households),Social Protection & Labor,Performance,NaN,NaN
870,per_allsp.ben_q1_tot,Benefit incidence of social protection and labor programs to poorest quintile (% of total SPL benefits),Social Protection & Labor,Performance,NaN,NaN
871,per_allsp.cov_pop_tot,Coverage of social protection and labor programs (% of population),Social Protection & Labor,Performance,NaN,NaN
872,per_lm_alllm.adq_pop_tot,Adequacy of unemployment benefits and ALMP (% of total welfare of beneficiary households),Social Protection & Labor,Performance,NaN,NaN
873,per_lm_alllm.ben_q1_tot,Benefit incidence of unemployment benefits and ALMP to poorest quintile (% of total U/ALMP benefits),Social Protection & Labor,Performance,NaN,NaN
874,per_lm_alllm.cov_pop_tot,Coverage of unemployment benefits and ALMP (% of population),Social Protection & Labor,Performance,NaN,NaN
875,per_lm_alllm.cov_q1_tot,Coverage of unemployment benefits and ALMP in poorest quintile (% of population),Social Protection & Labor,Performance,NaN,NaN
876,per_lm_alllm.cov_q2_tot,Coverage of unemployment benefits and ALMP in 2nd quintile (% of population),Social Protection & Labor,Performance,NaN,NaN
877,per_lm_alllm.cov_q3_tot,Coverage of unemployment benefits and ALMP in 3rd quintile (% of population),Social Protection & Labor,Performance,NaN,NaN
878,per_lm_alllm.cov_q4_tot,Coverage of unemployment benefits and ALMP in 4th quintile (% of population),Social Protection & Labor,Performance,NaN,NaN

In [317]:
# Count the number of NaNs in a given series df
# Indicator_Code = 
# wer_indicator
years = pd.DataFrame(wer_indicator.isnull().sum()).reset_index()[4:]
years.columns = ("year", "NaNs")
years.head(6)

   year  NaNs
4  2000   263
5  2001   263
6  2002   261
7  2003   261
8  2004   259
9  2005   251

### Make a function that take a dataframe and return the NaNs listed by year in all countries

In [13]:
def data_quality_asses(dataframe):
    df_years = pd.DataFrame(dataframe.isnull().sum()).reset_index()[4:] # Obtain Nas per year
    df_years.columns = ("year", "NaNs") # rename columns
    df_years["Indicator Code"] = dataframe["Indicator Code"][0] # add new column with the code name
    df_years.set_index( ["Indicator Code"], inplace = True) # reset index to the code name
    df_years = pd.pivot(df_years, columns= 'year', values= "NaNs") # pivot the dataset
    return (df_years)

In [ ]:
data_quality_asses(wer_indicator)[:]

In [15]:
wer_indicator.head()

  country_name country_code  year  GNI, PPP (current international $)
0        Aruba          ABW  2010                        3.122230e+09
1  Afghanistan          AFG  2010                        5.001196e+10
2       Angola          AGO  2010                        1.390217e+11
3      Albania          ALB  2010                        2.778845e+10
4      Andorra          AND  2010                                 NaN

In [ ]:
wer_indicator.isnull().sum().to_frame()

## 5. Taking only countries included in the UNDP dataset

Before assesing the quality of the data namely ratio of NaNs to total entries is better to base the analysis in countries only and exclude geografical groups or organizations.

### We make a function that clean the data and export it
this function take and filter countries only present in the UNDP country/code file

In [67]:
# Define a function to clean the dataset
# this function remove unknown conutry ocdes and sort the data by country_name and year

def clean_and_save_my_df(df, output_file_name = "give_me_a_name", destination_dir = path + "/" + "curated_datasets", save = False):
    #collect the country codes and years for the  file "final_year_code_df.csv"
    year_and_code = pd.read_csv(path + "/" + "final_year_code_df.csv")#["country_code"]
   
    clean_df = df[df['country_code'].isin(year_and_code["country_code"])].reset_index(drop=True)#filter by the countrycode
    
    clean_df = year_and_code.merge(clean_df, how= "left", on =  ["year", "country_code"])
    
    clean_df = clean_df.sort_values(by=['country_name', 'year']).reset_index(drop=True)#sort the columns
    
    if save :
        clean_df.to_csv(destination_dir + '/' + "WB_" + output_file_name + '_df' + '.csv', index=False)
    
    return(clean_df)

## 6. Loop over a number of data codes, colect, transform  and save to df for the given indicator

In [8]:
my_WB_indicator_dic = {"NY.GNP.MKTP.PP.CD": "GNI_PPP"}
                       "IQ.CPA.TRAN.XQ": "GEI_indx",
                       "IQ.CPA.BREG.XQ": "Env_1",
                       "IQ.CPA.ENVR.XQ" : "Env_2"}

In [ ]:
for value in my_WB_indicator_dic:
    my_df = API_call_to_df(indic_code = value)
    clean_and_save_my_df(df = my_df, output_file_name = my_WB_indicator_dic[value])
    sleep(1) # make a 1 s time sleep between calls

In [70]:
my_df = API_call_to_df(indic_code = "NY.GNP.MKTP.PP.CD")
my_df.head()

file exists and will be replaced

   year country_code country_name  GNI, PPP (current international $)
0  2010          AFG  Afghanistan                        5.001196e+10
1  2011          AFG  Afghanistan                        5.112837e+10
2  2012          AFG  Afghanistan                        5.976096e+10
3  2013          AFG  Afghanistan                        6.526676e+10
4  2014          AFG  Afghanistan                        6.905035e+10

In [71]:
my_df.dtypes

year                                    int64
country_code                           object
country_name                           object
GNI, PPP (current international $)    float64
dtype: object

In [72]:
my_df.shape

(2145, 4)

In [61]:
my_df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2145 entries, 0 to 2144
Data columns (total 4 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   year                                2145 non-null   int64
 1   country_code                        2145 non-null   object
 2   country_name                        2145 non-null   object
 3   GNI, PPP (current international $)  1836 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 67.2+ KB

In [14]:
year_and_code = pd.read_csv(path + "/" + "final_year_code_df.csv")

In [16]:
year_and_code.shape

(2145, 3)

In [86]:
find_your_serie("govern", by_name= True)

,Series Code,Series Name,Topic,SubTopic1,SubTopic2,SubTopic3
325,DT.ODA.ODAT.XP.ZS,Net ODA received (% of central government expense),Economic Policy & Debt,Official development assistance,NaN,NaN
463,FM.AST.CGOV.ZG.M3,Claims on central government (annual growth as % of broad money),Financial Sector,Assets,NaN,NaN
480,FS.AST.CGOV.GD.ZS,"Claims on central government, etc. (% GDP)",Financial Sector,Assets,NaN,NaN
487,GC.DOD.TOTL.CN,"Central government debt, total (current LCU)",Public Sector,Government finance,Deficit & financing,NaN
488,GC.DOD.TOTL.GD.ZS,"Central government debt, total (% of GDP)",Public Sector,Government finance,Deficit & financing,NaN
563,IC.GOV.DURS.ZS,Time spent dealing with the requirements of government regulations (% of senior management time),Private Sector & Trade,Business environment,NaN,NaN
622,IQ.CPA.PROP.XQ,CPIA property rights and rule-based governance rating (1=low to 6=high),Public Sector,Policy & institutions,NaN,NaN
667,MS.MIL.XPND.ZS,Military expenditure (% of central government expenditure),Public Sector,Defense & arms trade,NaN,NaN
669,NE.CON.GOVT.CD,General government final consumption expenditure (current US$),Economic Policy & Debt,National accounts,US$ at current prices,Expenditure on GDP
670,NE.CON.GOVT.CN,General government final consumption expenditure (current LCU),Economic Policy & Debt,National accounts,Local currency at current prices,Expenditure on GDP
671,NE.CON.GOVT.KD,General government final consumption expenditure (constant 2010 US$),Economic Policy & Debt,National accounts,US$ at constant 2010 prices,Expenditure on GDP
672,NE.CON.GOVT.KD.ZG,General government final consumption expenditure (annual % growth),Economic Policy & Debt,National accounts,Growth rates,NaN
673,NE.CON.GOVT.KN,General government final consumption expenditure (constant LCU),Economic Policy & Debt,National accounts,Local currency at constant prices,Expenditure on GDP
674,NE.CON.GOVT.ZS,General government final consumption expenditure (% of GDP),Economic Policy & Debt,National accounts,Shares of GDP & other,NaN
1040,SE.XPD.PRIM.PC.ZS,"Government expenditure per student, primary (% of GDP per capita)",Education,Inputs,NaN,NaN
1041,SE.XPD.PRIM.ZS,Expenditure on primary education (% of government expenditure on education),Education,Inputs,NaN,NaN
1042,SE.XPD.SECO.PC.ZS,"Government expenditure per student, secondary (% of GDP per capita)",Education,Inputs,NaN,NaN
1043,SE.XPD.SECO.ZS,Expenditure on secondary education (% of government expenditure on education),Education,Inputs,NaN,NaN
1044,SE.XPD.TERT.PC.ZS,"Government expenditure per student, tertiary (% of GDP per capita)",Education,Inputs,NaN,NaN
1045,SE.XPD.TERT.ZS,Expenditure on tertiary education (% of government expenditure on education),Education,Inputs,NaN,NaN
1046,SE.XPD.TOTL.GB.ZS,"Government expenditure on education, total (% of government expenditure)",Education,Inputs,NaN,NaN
1047,SE.XPD.TOTL.GD.ZS,"Government expenditure on education, total (% of GDP)",Education,Inputs,NaN,NaN
1162,SH.XPD.PUBL.GX.ZS,"Health expenditure, public (% of government expenditure)",Health,Health systems,NaN,NaN