In [17]:
import pandas as pd
import os

In [22]:
file_path = os.path.abspath('.') + '/' + "HRD_COMPLETE_CODING_SHEET_WITH_NOTES.xlsx"
file_path

'/Users/rubencito/CAS_datascience/ADS_CAS_Bern_2020/Projects/M3/Vale_data/raw_files_dataset/HRD_COMPLETE_CODING_SHEET_WITH_NOTES.xlsx'

In [85]:
raw_df = pd.read_excel(file_path, 
                       header = [0], 
                       skiprows = [1],
                       usecols = [0, 3, 4, 7, 11],
                       parse_dates = [2, 3])
raw_df.head()

,Country name,Regime name,v3regstartdate,v3regenddate,v3regendtype
0,Peru,Viceroyalty of Peru,13/01/1750,09/12/1824,5
1,Peru,Interim government of Simon Bolivar,09/12/1824,04/01/1827,12
2,Peru,Liberal Congressional leaders/General La Mar a...,04/01/1827,01/09/1829,0
3,Peru,Gamarra administration I,01/09/1829,24/04/1834,11
4,Peru,Liberal Congressional leaders/ Orbegoso admini...,24/04/1834,23/02/1835,0

In [87]:
raw_df.tail()

,Country name,Regime name,v3regstartdate,v3regenddate,v3regendtype
2075,Palestine/West Bank,Jordanian occupation of West Bank,1948-05-14 00:00:00,1950-04-24 00:00:00,10
2076,Palestine/West Bank,POLITY NON-EXISTENT,1950-04-24 00:00:00,1950-12-31 00:00:00,NaN
2077,Palestine/West Bank,Coding gap,1950-12-31 00:00:00,1967-06-05 00:00:00,NaN
2078,Palestine/West Bank,Palestine under the authority of the Palestini...,1967-06-05 00:00:00,2007-06-15 00:00:00,5
2079,Palestine/West Bank,West Bank under Fatah,2007-06-15 00:00:00,E,NaN

In [86]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2080 entries, 0 to 2079
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country name    2078 non-null   object
 1   Regime name     2080 non-null   object
 2   v3regstartdate  2080 non-null   object
 3   v3regenddate    2080 non-null   object
 4   v3regendtype    1873 non-null   object
dtypes: object(5)
memory usage: 81.4+ KB

In [34]:
raw_df[raw_df['v3regenddate'] ==  '09/12/1824']

,Country name,V-Dem code,Regime nr,Regime name,v3regstartdate,Unnamed: 5,Notes to v3regstartdate,v3regenddate,Notes to v3regenddate,v3regendtypeMS,notes to v3regendtypeMS,v3regendtype,Notes to v3regendtype,Sources,Interregnum,Type interregnum,Notes interregnum,Coder,Notes on alternative codings of regime spells counted as one/multiple regime,Unnamed: 19
0,Peru,30.0,NaN,Viceroyalty of Peru,13/01/1750,1.0,The 256-year-old Treaty of Tordesillas was sup...,09/12/1824,Peruvian independence declared on 28 July 1821...,5,Considered popular uprising in which Peru gain...,5,NaN,Britannica; Pike (1967: 59-60),0.0,NaN,NaN,KS,NaN,NaN

In [35]:
raw_df['start_year'] = 2020
raw_df.head(5)

,Country name,V-Dem code,Regime nr,Regime name,v3regstartdate,Unnamed: 5,Notes to v3regstartdate,v3regenddate,Notes to v3regenddate,v3regendtypeMS,...,v3regendtype,Notes to v3regendtype,Sources,Interregnum,Type interregnum,Notes interregnum,Coder,Notes on alternative codings of regime spells counted as one/multiple regime,Unnamed: 19,start_year
0,Peru,30.0,NaN,Viceroyalty of Peru,13/01/1750,1.0,The 256-year-old Treaty of Tordesillas was sup...,09/12/1824,Peruvian independence declared on 28 July 1821...,5,...,5,NaN,Britannica; Pike (1967: 59-60),0.0,NaN,NaN,KS,NaN,NaN,2020
1,Peru,30.0,NaN,Interim government of Simon Bolivar,09/12/1824,0.0,Congress gives Bolivar continued power to atte...,04/01/1827,Opposition against Bolivar's plans for Peru is...,12,...,12,NaN,Pike (1967: 61-64),0.0,NaN,NaN,KS,NaN,NaN,2020
2,Peru,30.0,NaN,Liberal Congressional leaders/General La Mar a...,04/01/1827,0.0,A new Congress convenes on 4 June 1827 were th...,01/09/1829,"Agustin Gamarra, the general in command of Per...",0,...,0,NaN,Pike (1967: 69-73),0.0,NaN,NaN,KS,NaN,NaN,2020
3,Peru,30.0,NaN,Gamarra administration I,01/09/1829,0.0,Gamarra's first administration runs govnernment.,24/04/1834,Gamarra is barred by the constitution from see...,11,...,11,Gamarra stays true to the Constitution of 1828.,Pike (1967: 73-75),0.0,NaN,NaN,KS,NaN,NaN,2020
4,Peru,30.0,NaN,Liberal Congressional leaders/ Orbegoso admini...,24/04/1834,0.0,The liberal faction in control of Congress is ...,23/02/1835,Military coup led by Felipe Salaverry. Overthr...,0,...,0,NaN,Pike (1967: 79-80),0.0,NaN,NaN,KS,NaN,NaN,2020

In [60]:
raw_df.shape

(2080, 21)

In [61]:
str(raw_df[['v3regenddate']])

'             v3regenddate\n0              09/12/1824\n1              04/01/1827\n2              01/09/1829\n3              24/04/1834\n4              23/02/1835\n...                   ...\n2075  1950-04-24 00:00:00\n2076  1950-12-31 00:00:00\n2077  1967-06-05 00:00:00\n2078  2007-06-15 00:00:00\n2079                    E\n\n[2080 rows x 1 columns]'

In [96]:
text = open('HRD_countryyear.csv', 'r')

In [99]:
text = ''.join([i for i in text]) \
    .replace('"', "")
x = open("HRD_countryyear_clean.csv","w")
x.writelines(text)
x.close()

In [102]:
pd.read_csv(os.path.abspath('.') + '/' + 'HRD_countryyear_clean.csv', usecols = [0])

/Users/rubencito/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

            country.name
Peru    30           NaN
        30           NaN
        30           NaN
        30           NaN
        30           NaN
...                  ...
Tuscany 242          NaN
        242          NaN
        242          NaN
        242          NaN
        242          NaN

[37444 rows x 1 columns]